

body
{
    background-image: url("../img_kar/background.jpg");
}

@font-face {
    font-family: 'bikoregular';
    src: url('../polices/biko_regular-webfont.eot');
    src: url('../polices/biko_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/biko_regular-webfont.woff2') format('woff2'),
         url('../polices/biko_regular-webfont.woff') format('woff'),
         url('../polices/biko_regular-webfont.ttf') format('truetype'),
         url('../polices/biko_regular-webfont.svg#bikoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1
{
	text-align: center;
}
pre
{
	font-family: Arial, serif;
	text-align: left;
	
}
#main
{
	position: absolute;
	top: 168px;
	left: 300px;
    padding-left: 15px;
    padding-right: 15px;
	border: 3px solid black;
    text-align: center;
	font-family: 'bikoregular', Arial, serif;
    
    
}
section p
{
	text-align: justify;
}

.logo
{
	width: 380px;
	height: 320px;
}
